
.todo-card {
    background: #1e1e1e;
    padding: 11px;
    margin-bottom: 17px;
    border-radius: 10px;
    display: flow-root;
    border: 1px solid #6b6375;
    transition: 0.2s;
}

.todo-card:hover {
    background: #666666;
}

.todo-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/*Textgrosse*/
.todo-desc {
    color: #ccc;
    font-size: 14px;
}

.todo-actions {
    display: flex;
    gap: 11px;
}

/*Bearbeiten button*/
.todo-btn {
    background: #444;
    border: none;
    padding: 1px 3px;
    border-radius: 6px;
    color: white;

}

.todo-btn:hover {
    background: #666;
}

/* done farbe*/
.todo-card.done {
    background: #6b6375;
    border: 1px solid #1f6f1f;
    opacity: 0.85;
}
.todo-title.done {
    text-decoration: line-through;
    color: #aaffaa;
}
.todo-desc.done {
    color: #ccffcc;
}